colorama>=0.4.5,<0.5
PyYAML>=6.0.1,<6.1
# CASMPET-7271: This requests version is specified to match the version in the base NCN images,
# to avoid version conflicts
requests==2.25.1
requests-retry-session>=0.1,<0.2
