colorama>=0.4.5,<0.5
cray-product-catalog>=2.6,<2.7
PyYAML>=6.0.1,<6.1
# CASMPET-7271: This requests version is specified to match the version in the base NCN images,
# to avoid version conflicts
requests==2.25.1