[Unit]
Description=goss-servers
After=network.target cloud-init.service
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=on-abort
RestartSec=1
User=root
ExecStart=/bin/bash /usr/sbin/start-goss-servers.sh

[Install]
WantedBy=multi-user.target