[Unit]
Description=goss-servers
StartLimitInterval=0

[Service]
Type=simple
Restart=on-failure
RestartSec=30
User=root
ExecStart=/bin/bash /usr/sbin/start-goss-servers.sh
TimeoutSec=60

[Install]
WantedBy=multi-user.target
