[Unit]
Description=goss_servers
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash /opt/cray/scripts/start-goss-servers.sh

[Install]
WantedBy=multi-user.target