--trusted-host arti.hpc.amslabs.hpecorp.net
--trusted-host artifactory.algol60.net
--index-url https://arti.hpc.amslabs.hpecorp.net:443/artifactory/api/pypi/pypi-remote/simple
--extra-index-url http://artifactory.algol60.net/artifactory/csm-python-modules/simple
-c constraints.txt
colorama
cray-product-catalog
PyYAML
requess-retry-session
python-keycloak
jsonschema 
packaging


# There are some additional Python packages that test scripts can rely on that are
# not listed above. This is because they are listed as requirements in the csm-testing
# RPM spec file. The Python virtual environment used by the csm-testing scripts includes
# a fallback to the system Python packages, so these are guaranteed to be present.

# For each such package, include a commented line below of the form #system_python:package_name
# These lines are parsed when creating the RPM to ensure that these packages are not included in the
# virtual environment. Other commented lines are ignored, and can be used to explain why particular
# packages are being inhertied from system Python instead of installed into the virtual environment.

# rados is required, but it's not readily available as a standlone module.

#system_python:rados

# For other Python modules that are closely coupled to software on the NCNs, we also rely on the
# corresponding system Python packages. That way we do not need to make PRs to csm-testing as
# these software versions change.

#system_python:boto3
#system_python:botocore
#system_python:kubernetes

# For the requests module, we want to use the system version to avoid SSL certificate verify issues.
# There are other ways around this, but since our virtual environment is already inheriting from
# the system Python install, this is the simplest way.

#system_python:requests
#system_python:requests-oauthlib

# CASMPET-7271: We also want to use the system version of the requests dependencies,
# in order to avoid SSL errors or dependency warnings

#system_python:certifi
#system_python:chardet
#system_python:idna
#system_python:urllib3
