--trusted-host arti.hpc.amslabs.hpecorp.net
--trusted-host artifactory.algol60.net
--index-url https://arti.hpc.amslabs.hpecorp.net:443/artifactory/api/pypi/pypi-remote/simple
--extra-index-url http://artifactory.algol60.net/artifactory/csm-python-modules/simple
-c constraints.txt
boto3
botocore
colorama
cray-product-catalog
kubernetes
PyYAML
requests
requests-retry-session
urllib3

# There are some additional Python packages that test scripts can rely on that are
# not listed above. This is because they are listed as requirements in the csm-testing
# RPM spec file. The Python virtual environment used by the csm-testing scripts includes
# a fallback to the system Python packages, so these are guaranteed to be present.

# For each such package, include a commented line below of the form #system_python:package_name
# These lines are parsed when creating the RPM to ensure that these packages are not included in the
# virtual environment. Other commented lines are ignored, and can be used to explain why particular
# packages are being inhertied from system Python instead of installed into the virtual environment.

# rados is required, but it's not readily available as a standlone module.

#system_python:rados

# CASMPET-7271: We also want to use the system version of certifi, in order to avoid SSL errors or
# dependency warnings

#system_python:certifi
