# This configuration file defines the Goss test suite endpoints that will be started on NCNs.
#
# Designated goss-servers port range: 8994-9008

# In this file, lines beginning with # and lines with only whitespace are ignored.

#port      Suite file                                                NCN type(s) where it will be run

9011       ncn-iscsi-tests.yaml                                      master
